/* ul{
  display: flex;
  gap: 10px;
}
*/

.navBar{
  background-color:black;
  display: flex ;
  height: 50px;
  align-items: center;
  gap: 20px;

}
.navbar{
  margin-bottom: 200px !important;
  height: 50px;

}
/*
h2{
  color: aquamarine;
  background-color: rgb(6, 158, 37);
}

h1{
  color: aquamarine;
  background-color: rgb(6, 158, 37);
}

p{
  color: brown;
  background-color:burlywood ;
}
 */


